$scrollbar-width: 1rem;
$scrollbar-height: $scrollbar-width;
$scrollbar-thumb-color: #666;
$scrollbar-thumb-color-hover: #444;
::-webkit-scrollbar {
  height: $scrollbar-height;
  overflow: visible;
  width: $scrollbar-width;
}
::-webkit-scrollbar-thumb{
  background-color: $scrollbar-thumb-color;
  background-clip: padding-box;
  border: solid transparent;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
  border-width: 2px 2px 2px 2px;
  border-radius: 1rem;

  &:hover {
    background-color: $scrollbar-thumb-color-hover;
  }
}
::-webkit-scrollbar-button{
  height: 0;
  width: 0;
}
::-webkit-scrollbar-track{
  background-clip: padding-box;
  border: solid transparent;
  border-width: 4px;
  height: $scrollbar-height;
  width: $scrollbar-width;
}
::-webkit-scrollbar-corner {
  background: transparent;
}